
body{
    background-color: blanchedalmond;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-transform: uppercase; */
    /* text-decoration: underline; */
    text-align: center;
}